<script>
    export let current_city = 'Baltimore';
    export let scale_pattern = 'p';

    const change_city = (new_city) => {
      current_city = new_city;
    };

    const change_scale = (new_scale) => {
      scale_pattern = new_scale;
    };
</script>

<div class="container">
    <div class="row">
        <form>
            <p>Please select location:</p>
            <input type="radio" id="Baltimore" name="fav_language" on:click={() => change_city("Baltimore")}>
            <label for="Baltimore">Baltimore</label><br>
            <input type="radio" id="Chicago" name="fav_language" on:click={() => change_city("Chicago")}>
            <label for="Chicago">Chicago</label><br>
            <input type="radio" id="Los Angeles" name="fav_language" on:click={() => change_city("Los Angeles")}>
            <label for="Los Angeles">Los Angeles</label>
        </form>
    </div>
    <br>
    <div class="row">
        <form>
            <p>Please select scale:</p>
            <input type="radio" id="Across" name="fav_language" on:click={() => change_scale("a")}>
            <label for="Across">Across all building types</label><br>
            <input type="radio" id="Per" name="fav_language" on:click={() => change_scale("p")}>
            <label for="Per">Per building type</label>
        </form>
    </div>
    <br>
</div>
