<script>
    import { scaleLinear } from "d3-scale";
    import { max } from "d3-array";

    export let data = [];

    let gas_data = data.map((d) => d.total_gas);
    let elec_data = data.map((d) => d.total_electrity);

    const max_height = 40;
    const max_length = data.length;

    const x_scale = scaleLinear().domain([0, data.length-1]).range([0, max_length]);
    const y_sale_elec = scaleLinear().domain([0, max(elec_data)]).range([0, -max_height]);
    const y_sale_gas = scaleLinear().domain([0, max(gas_data)]).range([0, max_height]);

    let elec_path = "M0 0";
    elec_data.forEach((element, index) => {
        elec_path += `L${x_scale(index)} ${y_sale_elec(element)}`;
    });
    elec_path += `L${max_length} 0`;

    let gas_path = "M0 0";
    gas_data.forEach((element, index) => {
        gas_path += `L${x_scale(index)} ${y_sale_gas(element)}`;
    });
    elec_path += `L${max_length} 0`;
</script>

<svg>
    <g transform="translate(0, {max_height})">
        <path d={elec_path} fill=blue/>
        <path d={gas_path} fill=orange/>
    </g>
</svg>