<script>
    import { scaleLinear, scaleRadial } from "d3-scale";
    import { extent, max, mean } from "d3-array";

    export let data = [];
    export let title;

    const width = 600;
    const height = 250;
    const margin = { top: 10, right: 10, bottom: 10, left: 10 };
    const innerWidth = width - margin.left - margin.right;
    const innerHeight = height - margin.top - margin.bottom;

    const clock_r = 60;

    let heat_avg_data = [];
    for (let i = 1; i <= 12; i++) {
        const d = data.filter((d)=>d.month==i);
        const avg_d = mean(d, (d)=>d.heating);
        heat_avg_data.push(avg_d);
    }

    let cool_avg_data = [];
    for (let i = 1; i <= 12; i++) {
        const d = data.filter((d)=>d.month==i);
        const avg_d = mean(d, (d)=>d.cooling);
        cool_avg_data.push(avg_d);
    }

    const max_avg = (max(heat_avg_data)>max(cool_avg_data) ? max(heat_avg_data):max(cool_avg_data));

    const arc_scale = scaleLinear().range([(-0.5) *Math.PI, (1.5) * Math.PI]).domain([0,12]);
    const r_scale = scaleRadial().range([0, clock_r]).domain([0, max_avg]);

    let heat_path = "";
    heat_avg_data.forEach((element, index) => {
        if (index == 0) {
            heat_path += `M${r_scale(element)*Math.cos(arc_scale(index+1))} ${r_scale(element)*Math.sin(arc_scale(index+1))} `;
        } else {
            heat_path += `L${r_scale(element)*Math.cos(arc_scale(index+1))} ${r_scale(element)*Math.sin(arc_scale(index+1))}`;
        }
    });

    let cool_path = "";
    cool_avg_data.forEach((element, index) => {
        if (index == 0) {
            cool_path += `M${r_scale(element)*Math.cos(arc_scale(index+1))} ${r_scale(element)*Math.sin(arc_scale(index+1))} `;
        } else {
            cool_path += `L${r_scale(element)*Math.cos(arc_scale(index+1))} ${r_scale(element)*Math.sin(arc_scale(index+1))}`;
        }
    });

</script>

<svg viewBox="0 0 {width/3} {height}">
    <g transform="translate({width/2},{height/2})">
        <text x="0" y=-90 text-anchor="middle">{title} </text>
        <circle cx=0 cy=0 r={clock_r} stroke="black" fill="#66000000"/>
        <line x1=0 y1={-clock_r} x2=0 y2={clock_r} stroke="black"/>
        <line x1={-clock_r} y1=0 x2={clock_r} y2=0 stroke="black"/>
        <text text-anchor="middle" x=0 y={-clock_r-5}>0</text>
        <text x={clock_r+5} y=5>3</text>
        <text text-anchor="middle" x=0 y={clock_r+15}>6</text>
        <text x={-clock_r-15} y=5>9</text>
        <path d={heat_path} fill="red" stroke="red" fill-opacity=0.5 stroke-opacity=0.7/>
        <path d={cool_path} fill="blue" stroke="blue" fill-opacity=0.5 stroke-opacity=0.7/>
        {#each heat_avg_data as r, i}
            <circle cx={r_scale(r)*Math.cos(arc_scale(i+1))} cy={r_scale(r)*Math.sin(arc_scale(i+1))} r=2 fill="red" opacity=0.7/>
        {/each}
        {#each cool_avg_data as r, i}
            <circle cx={r_scale(r)*Math.cos(arc_scale(i+1))} cy={r_scale(r)*Math.sin(arc_scale(i+1))} r=2 fill="blue" opacity=0.7/>
        {/each}
</svg>