<script>
    import { max } from "d3-array";
    import { scaleLinear } from "d3-scale";
    
    export let scale_pattern;
    export let building_type;
    export let data_series;
    export let global_max;
    export let i;

    const y_central = 12+i*27;
    const x_start = 5;
    const x_end = 400;

    const local_max = max(data_series, (d) => d.total_heating_energy);
    const series_length = data_series.length;

    let per_scale;
    let all_scale;
    $: per_scale = scaleLinear().domain([0, local_max]).range([1, 10]);
    $: all_scale = scaleLinear().domain([0, global_max]).range([1, 10]);

    let current_scale = per_scale
    $: current_scale = ((scale_pattern == "p") ? per_scale: all_scale);

    const x_scale = scaleLinear().domain([0, series_length]).range([x_start, x_end]);

    let path_up;
    $: {
        let thickness = 0;
        path_up = `M${x_start} ${y_central}`;
        data_series.forEach((element, index) => {
            thickness = current_scale(element.total_heating_energy);
            path_up += `L${x_scale(index)} ${y_central-thickness}`;
        });
        path_up += `L${x_end} ${y_central}`;
    }

    let path_down;
    $: {
        let thickness = 0;
        path_down = `M${x_start} ${y_central}`;
        data_series.forEach((element, index) => {
            thickness = current_scale(element.total_heating_energy);
            path_down += `L${x_scale(index)} ${y_central+thickness}`;
        });
        path_down += `L${x_end} ${y_central}`;
    }

</script>

<svg>
    <path d={path_up}/>
    <path d={path_down}/>
    <text x={x_end+5}, y={y_central+6}>{building_type}</text>
</svg>