<script>
  import Leaf from "./_design_3_leaf.svelte";
  import { onMount } from "svelte";
  import { json } from "d3-fetch";

  // Size and margins
  const width = 500;
  const height = 600;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  let data = null;
  onMount(async () => {
    data = await json("/data/hourly_electricity_vs_gas_december.json");
  });


</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <svg {width} {height}>
    <g transform="translate({margin.left+innerWidth/2}, {margin.top+500}) rotate(-10)">
      <Leaf data={data.filter(d => d.week == 48)}/>
    </g>
    <g transform="translate({margin.left+innerWidth/2}, {margin.top+400}) rotate(10) scale(-1,1)">
      <Leaf data={data.filter((d) => d.week == 48)}/>
    </g>
    <g transform="translate({margin.left+innerWidth/2}, {margin.top+300}) rotate(-10)">
      <Leaf data={data.filter((d) => d.week == 49)}/>
    </g>
    <g transform="translate({margin.left+innerWidth/2}, {margin.top+200}) rotate(10) scale(-1,1)">
      <Leaf data={data.filter((d) => d.week == 50)}/>
    </g>
    <g transform="translate({margin.left+innerWidth/2}, {margin.top+100}) rotate(-10)">
      <Leaf data={data.filter((d) => d.week == 51)}/>
    </g>
    <line x1={width/2} x2={width/2} y1={height} y2={100} style="stroke:black;stroke-width:2"/>
    <text transform="translate(430,520)">week 1</text>
    <text transform="translate(20,420)">week 2</text>
    <text transform="translate(430,320)">week 3</text>
    <text transform="translate(20,220)">week 4</text>
    <text transform="translate(430,120)">week 5</text>
    <text text-anchor="middle" transform="translate({width/2}, 30)" style="font-size:25;">Chicago</text>
    <text text-anchor="middle" transform="translate({width/2}, 50)" style="font-size:15;">(December 2014)</text>
    <text text-anchor="middle" transform="translate({width/2}, 60)" style="font-size:10;">Blue:Electricity</text>
    <text text-anchor="middle" transform="translate({width/2}, 70)" style="font-size:10;">Orange:Gas</text>
  </svg>
{/if}

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>
