<script>
  import Thickness_line from "./_design_1_line.svelte";
  import Radios from "./_design_1_radio_button.svelte";
  import { json } from "d3-fetch";
  import { max } from "d3-array";
  import { onMount } from "svelte";

  // Size and margins
  const width = 600;
  const height = 470;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  let building_list = [];
  let data = null;
  let current_city = "Baltimore";
  let global_max = 0;
  let scale_pattern = 'p';

  onMount(async () => {
    data = await json("/data/hourly_heating_december.json");
    building_list = data.map((d)=> d.buildingtype);
    building_list = Array.from(new Set(building_list));
  });

  $: if (data) {
    global_max = max(data.filter((d)=>d.city==current_city), (d)=>d.total_heating_energy);
  }
</script>

{#if !data}
  <p>Loading</p>

{:else}
  <div>
    <div style="position:relative;left:200px">
      <Radios bind:current_city={current_city} bind:scale_pattern={scale_pattern}/>
    </div>
    <svg {width} {height}>
      <g transform="translate({margin.left}, {margin.top})">
        {#each building_list as building_type, i}
          <Thickness_line
            {scale_pattern}
            {building_type}
            data_series = {(data.filter((d)=>d.city==current_city && d.buildingtype == building_type))}
            {global_max}
            {i}
          />
        {/each}
        <text x={5} y={height - 20}>1st Dec</text>
        <text x={340} y={height - 20}>31th Dec</text>
      </g>
    </svg>
  </div>
{/if}

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>
