<script>
  import Clock from "./_design_2_clock.svelte";
  import { onMount } from "svelte";
  import { json } from "d3-fetch";
  // Size and margins
  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  let data = null;

  onMount(async () => {
    data = await json("/data/daily_heating_cooling.json");
  });


</script>
{#if !data}
  <p>Loading</p>

{:else}
<div class="row">
  <div class="column">
    <svg {width} {height}>
      <g transform="translate(-400,0)">
        <Clock data={data.filter((d)=>d.city=="Baltimore")} title="Baltimore"/>
      </g>
      <g transform="translate(-200,0)">
        <Clock data={data.filter((d)=>d.city=="Chicago")} title="Chicago"/>
      </g>
      <g transform="translate(-0,0)">
        <Clock data={data.filter((d)=>d.city=="Los Angeles")} title="Los Angeles"/>
      </g>
    </svg>
  </div>
</div>
{/if}

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>
