<script>
  let clicked = false;
</script>

<div>
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <button class="btn btn-primary" on:click={() => (clicked = true)}>
        click here
      </button> 
    </div>
  </div>
  <div class="row">
    {#if clicked}
    <p>You have clicked the button!</p>
    {:else}
    <p>You have to click the button!</p>
    {/if}
  </div>
</div>
