<script>
    const name = "Yichen Jia";
    const things = ["Music", "Composing", "Soccer", "Guitar"];
</script>

<p>My name is {name} and these are some of my favourite things: {#each things.slice(0,-1) as thing}{thing}, {/each}{things.slice(-1)}.</p>