<script>
    import Ex_2 from "/src/routes/exercises/week_5/exercises/ex_2.svelte";
    import Ex_3 from "/src/routes/exercises/week_5/exercises/ex_3.svelte";
</script>

<div><Ex_3></Ex_3><Ex_2></Ex_2></div>