<script>
  import { max, min } from "d3-array";

  // Properties
  export let data = [];
  export let continent = 'All';
  export let slider_value = 0;

  let drop_down_text = 'All'

  const continents = ["europe", "asia", "americas", "africa"];

  const minyear = min(data, (d) => d.year) - 1800;
  const maxyear = max(data, (d) => d.year) - 1800;

  let play_pause_text = 'Play';
  let MyInterval = null;

  function play_pause() {
    if (play_pause_text == 'Play'){
      play_pause_text = 'Pause';
      MyInterval = setInterval(loop_ani, 30);
    }
    else{
      play_pause_text = 'Play';
      clearInterval(MyInterval);
    }
  };

  function reset() {
    if (MyInterval) {
      clearInterval(MyInterval);
      MyInterval = null;
    }
    play_pause_text = 'Play';
    continent = 'All';
    slider_value = 0;
  };

  function loop_ani() {
    if (slider_value == maxyear) {
      slider_value = 0;
    }
    else {
      slider_value++;
    }
  }

  function ChooseContinent(Conti) {
    continent = Conti;
    drop_down_text = Conti.slice(0,1).toUpperCase()+Conti.slice(1);
  }

</script>

<div class='container' style="padding-top: 50px">
  <div class='row justify-content-center'>
    <div class='col-md-auto'>
      <button type='button' class='btn btn-primary' on:click={play_pause}>
        {play_pause_text}
      </button>
    </div>
    <div class='col-md-auto'>
      <button type='button' class='btn btn-primary' on:click={reset}>
        Reset
      </button>
    </div>
  </div>
  <div class='row justify-content-center' style="padding-top: 20px">
    <div class='col-md-auto'>
      <div class="dropdown">
        <button class="btn btn-info">{drop_down_text} ▽</button>
        <div class="dropdown-content">
          <p on:click={() => ChooseContinent('All')}>
            All
          </p>
          <p on:click={() => ChooseContinent(continents[0])}>
            Europe
          </p>
          <p on:click={() => ChooseContinent(continents[1])}>
            Asia
          </p>
          <p on:click={() => ChooseContinent(continents[2])}>
            Americas
          </p>
          <p on:click={() => ChooseContinent(continents[3])}>
            Africa
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center" style="padding-top: 20px">
    <div class="slidecontainer">
      <input type="range" min={minyear} max={maxyear} class="slider" bind:value={slider_value}/>
    </div>
    <p align="center">Current year : {slider_value + 1800}</p>
  </div>
</div>

<style>

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content p:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}
.btn {
  width: 150px;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
</style>