<script>
	let count = 0;

    function handleClick(event) {
        count += 1;
    }

    function resetClick(event) {
        count = 0;
    }
</script>

<div style="padding: 30px">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <button type="button" class="btn btn-primary btn-lg" on:click={handleClick}>
                Clicked count: {count}
            </button>
        </div>
    </div> 
    <div class="row justify-content-md-center" style="padding-top: 30px">
        <div class="col-md-auto">
            <button type="button" class="btn btn-info btn-lg" on:click={resetClick}>
                Reset
            </button>
        </div>
    </div>
</div>