<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";

  import Controls from "./_ex_3_controls.svelte";
  import Scatterplot from "./_ex_3_scatterplot.svelte";

  // Load the data
  let data = null;
  onMount(async () => {
    data = await json("/data/gapminder.json");
  });

  let slider_valueP = 0;
  let continentP = "All";

  function logic_continent(d_continent, continentP) {
    return (d_continent == continentP || continentP == "All");
  };

</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <div>
    <Scatterplot data={data[slider_valueP]["countries"].filter((d) => logic_continent(d.continent, continentP))}/>
    <Controls {data} bind:slider_value={slider_valueP} bind:continent={continentP}/>
  </div>
{/if}
