<script>
  import { csv } from "d3-fetch";
  import { onMount } from "svelte";
  import Scatter from "./_ex_4_scatter.svelte";

  // Load the data
  let data = null;
  onMount(async () => {
    data = await csv("/data/cars-2.csv");
  });

  // Configurations
  const s1 = {
    x: (d) => +d.Horsepower,
    y: (d) => +d.Acceleration,
    xLabel: "Horsepower",
    yLabel: "Acceleration"
  };
  const s2 = {
    x: (d) => +d.Displacement,
    y: (d) => +d.Miles_per_Gallon,
    xLabel: "Displacement",
    yLabel: "Miles per Gallon"
  };

  let selected_local1 = [];
  let selected_local2 = [];
  let selected_both =[];

  // $: selected_local1.forEach((d, i) =>{
  //   if (d == selected_local2[i]){
  //     selected_both[i] = true;
  //   }
  // });
  $: selected_both = selected_local1.map((d, i) => d && selected_local2[i]);
</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <Scatter {data} {...s1} {selected_both} bind:selected_local={selected_local1}/>
  <Scatter {data} {...s2} {selected_both} bind:selected_local={selected_local2}/>
{/if}
