<script>
  import { extent } from 'd3-array';
  import { scaleLinear, scaleOrdinal, scaleLog } from 'd3-scale';
  import { schemeDark2 } from 'd3-scale-chromatic';
  import { axisLeft, axisBottom} from 'd3-axis';
  import { select } from 'd3-selection';

  // Dimensions
  const [height, width] = [400, 600];
  const margin = { top: 50, right: 5, bottom: 55, left: 50 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  
  export let year;
  export let data;
  
  const xScale = scaleLinear().domain([0, extent(data,(c) => c.income)[1]]).range([0,innerWidth-30]);
  const yScale = scaleLinear().domain([0,extent(data,(c) => c.life_exp)[1]]).range([innerHeight,0]);
  const rScale = scaleLog().domain(extent(data,(c) => c.income)).range([0,5]);
  const colorScale = scaleOrdinal().domain(extent(data,(c) => c.continent)).range(schemeDark2);

  function yAxis(handle){
    axisLeft(yScale)(select(handle));
  }
  function xAxis(handle){
    axisBottom(xScale)(select(handle));
  }
</script>

<svg viewBox="0 0 {width} {height}" style="max-width: {width}px">
  <g id="plot" transform="translate({margin.left}, {margin.top})">
    {#each data as p}
      <circle cx={xScale(+p.income)} cy={yScale(+p.life_exp)} r={rScale(+p.population)} fill={colorScale(p.continent)} opacity=0.7/>
    {/each}

  </g>
  <g transform="translate({margin.left},{innerHeight+margin.top})" use:xAxis = {"#plot"}/>
  <g transform="translate({margin.left},{margin.top})" use:yAxis = {"#plot"}/>
  <text transform="translate({margin.left-30},{margin.top+innerHeight/2}), rotate(270,0,0)" fill="currentColor">Life Expectancy</text>
  <text transform="translate({margin.left+innerWidth/2},{margin.top+innerHeight+30})" fill="currentColor">Income</text>
  <text transform="translate({margin.left+innerWidth/2},{margin.top-20})" fill="currentColor" style="font-size: x-large">Income verse Life Expectancy per country</text>
  <text transform="translate({margin.left+innerWidth-70},{margin.top+innerHeight-30})" fill="currentColor" style="font-size: xxx-large" opacity=0.6>{year}</text>
</svg>

<style>
  text {
    text-anchor: middle;
    font-size: small;
  }
</style>