<script>
  import { scaleLog } from 'd3-scale';
  import { axisBottom } from 'd3-axis';
  import { select } from 'd3-selection';
  
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [2, 4, 6, 7, 9];

  const myScale = scaleLog().domain([1,10]).range([0,innerWidth]);
  function xAxis(handle){
    axisBottom(myScale)(select(handle));
  }
</script>

<svg viewBox="0 0 {width} {height}">
  <g id="plot" transform="translate({margin.left},{margin.top})">
    {#each values as value}
      <circle cx={myScale(value)} cy={innerHeight/2} r=10 style="fill:skyblue"/>
    {/each}
  </g>
  <g transform="translate({margin.left},{innerHeight-25})" use:xAxis = {"#plot"}/>
  <text transform="translate({width/2},{innerHeight+5})" style="fill:currentcolor">x-axis</text>
</svg>

<style>
  text {
    text-anchor: middle;
    font-size: small;
  }
</style>