<script>
  import { extent } from "d3-array";
  import { scaleLinear, scaleOrdinal } from "d3-scale";
  import { schemeDark2 } from "d3-scale-chromatic";
  import { axisBottom, axisLeft } from 'd3-axis';
  import { select } from 'd3-selection';

  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 30, bottom: 5, left: 30 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];
  const xScale = scaleLinear([0, 10], [0, innerWidth]);
  const yScale = scaleLinear([0, 4], [0, innerHeight]);
  const colorScale = scaleOrdinal(extent(values.map((v) => v.category)),schemeDark2);
  const RevyScale = scaleLinear([0, 4], [innerHeight, 0]);
  
  function xAxis(handle){
    axisBottom(xScale)(select(handle));
  }
  function yAxis(handle){
    axisLeft(RevyScale)(select(handle));
  }
</script>

<svg viewBox="0 0 {width} {height}">
  <g id="lollipop" transform="translate({margin.left},{margin.top-15})">
    {#each values as value}
      <line x1={xScale(value.x)} x2={xScale(value.x)} y1={innerHeight} y2={innerHeight - yScale(value.y)+8} style="stroke:black"/>
      <circle cx={xScale(value.x)} cy={innerHeight - yScale(value.y)} r=8 style="fill:{colorScale(value.category)}" opacity=0.8/>
      <text class="valueLabel" x={xScale(value.x)} y={innerHeight - yScale(value.y) - 10}>{value.y}</text>
    {/each}
  </g>
  <g transform="translate({margin.left},{innerHeight+margin.bottom})" use:xAxis = {"#lollipop"}/>
  <g transform="translate({margin.left},{margin.top-15})" use:yAxis = {"#lollipop"}/>
</svg>

<style>
  text {
    text-anchor: middle;
    font-size: small;
  }
</style>
