<script>
  import { scaleLinear, scaleBand } from "d3-scale";
  import { axisBottom, axisLeft } from 'd3-axis';
  import { select } from 'd3-selection';

  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];
  const services = [];
  for (let sv of data) {services.push(sv.service);}
  const xScale = scaleBand().domain(services).range([0, innerWidth]).padding(0.3);
  const yScale = scaleLinear([0, 3], [0, innerHeight]);
  const RevyScale = scaleLinear([0, 3], [innerHeight, 0]);

  function yAxis(handle){
    axisLeft(RevyScale)(select(handle));
  }
  function xAxis(handle){
    axisBottom(xScale)(select(handle));
  }
</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
  <g id="plot" transform={`translate(${margin.left},${margin.top})`}>
    {#each data as d}
      <rect x={xScale(d.service)} y={innerHeight - yScale(d.viewers)} height={yScale(d.viewers)} width={xScale.bandwidth()} style="fill:green" opacity=0.6/>
    {/each}
  </g>
  <g transform="translate({margin.left},{innerHeight+margin.top})" use:xAxis = {"#plot"}/>
  <g transform="translate({margin.left},{margin.top})" use:yAxis = {"#plot"}/>
  <text transform="translate({margin.left-30},{margin.top+innerHeight/2}), rotate(270,0,0)" fill="currentColor">Viewers</text>
</svg>

<style>
  text {
    text-anchor: middle;
    font-size: small;
  }
</style>