<script>
  import Scatterplot from "./_ex_7_scatterplot.svelte";
  import { json } from "d3-fetch";
  import { onMount } from 'svelte';

  let year = "1800"
  let datapoints = null;
  onMount(async () => {
    const res = await json("../data/gapminder.json");
    datapoints = res.find(d => d.year==year).countries;
  });
  
</script>

{#if datapoints}
  <Scatterplot data={datapoints} year={year}/>
{:else}
  <p>The data is being loaded.</p>
{/if}